# Node.js Modules
node_modules/

# Environment Files
.env

# Logs and Temporary Files
/logs/
.log
.log.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build Output
/build/
/dist/
/out/
/target/
/public/

# IDE and Editor Files
.vscode/
.idea/
.*.swp
.DS_Store

# User-Specific Files
.history
.bash_history

# Dependency Lock Files
yarn.lock
package-lock.json

# User Uploads and Data
/uploads/
/data/

# Other Environment-Specific Files (Add as needed)
# ...

# Ignore everything in node_modules except specific files
node_modules/**
!node_modules/package.json
!node_modules/npm-shrinkwrap.json
